{% extends 'base.html' %} {% block container %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space: nowrap">
    <span
      class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"
      >Mauricio D. <span class="w3-hide-small">Cuello</span> Alzate</span
    >
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center">
    <em
      >"Hay cosas que conocemos cosas que sabemos que sabemos. También sabemos
      que hay cosas que no conocemos, es decir, cosas que no sabemos. Pero
      también hay cosas que no sabemos que no conocemos - las cosas que no
      sabemos que desconocemos" Robert Rumsfeld</em
    >
  </p>
  <p>
    Desde que era pequeño, la tecnología ha sido mi pasión y fascinación. El
    misterio detrás de los celulares, computadores y demás aparatos tecnológicos
    me intrigaba. Posteriormente, en el colegio, tuve un pequeño acercamiento
    con el sistema operativo Kali Linux y un poco de robótica, lo cual me llevó
    a elegir la carrera de ingeniería electrónica en la Pontificia Universidad
    Javeriana.
  </p>
  <p>
    Durante la carrera, aprendí sobre diversos temas relacionados con la
    tecnología, pero hubo tres temas en particular que me llamaron la atención:
    el desarrollo de código, la seguridad de la información y la inteligencia
    artificial. Empecé a aprender sobre código con Python y C, desarrollando
    proyectos para el microcontrolador PIC y ESP32. De manera paralela, aprendí
    sobre las redes informáticas con routers y switches Cisco, así como sus
    configuraciones de seguridad (ACLs, restricción de puertos, EAP, RADIUS).
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <!--<p>
        <b><i class="fa fa-user w3-margin-right"></i>My Name</b>
      </p>
      <br /-->
      <img
        src="/static/img/photo_of_me.jpg"
        class="w3-round w3-image w3-opacity w3-hover-opacity-off"
        alt="Photo of Me"
        width="400"
        height="333"
      />
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>
        Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
  <p class="w3-wide"><i class="fa fa-code"></i>Programming</p>
  <div class="w3-light-grey">
    <div
      class="w3-container w3-padding-small w3-dark-grey w3-center"
      style="width: 75%"
    >
      75%
    </div>
  </div>
  <p class="w3-wide"><i class="fa fa-user-secret"></i>Cybersecurity</p>
  <div class="w3-light-grey">
    <div
      class="w3-container w3-padding-small w3-dark-grey w3-center"
      style="width: 80%"
    >
      80%
    </div>
  </div>
  <p class="w3-wide"><i class="fa fa-linux"></i>Linux</p>
  <div class="w3-light-grey">
    <div
      class="w3-container w3-padding-small w3-dark-grey w3-center"
      style="width: 80%"
    >
      80%
    </div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br />
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br />
    Projects Done
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br />
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br />
    Meetings
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">MY WORK</h3>
  <p class="w3-center">
    <em>Algunos de los trabajos que he hecho</em>
  </p>
  <br />

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <a href="https://github.com/MauricioD13/Django_Havensecurity">
        Proyecto IoT: Havensecurity
      </a>
    </div>

    <div class="w3-col m3">
      <a href="https://github.com/MauricioD13/Estadistica_Computacional"
        >Estadistica computacional en Python</a
      >
    </div>

    <div class="w3-col m3">
      <a href="https://github.com/MauricioD13/Laboratorio2a_Proyecto2"
        >Voltimetro en C</a
      >
    </div>

    <div class="w3-col m3">
      <a href="https://github.com/MauricioD13/C_programs">
        Ejemplos programas en C</a
      >
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <a
        href="https://github.com/MauricioD13/Python-programs/tree/master/Cyphers"
        >Métodos de cifrado en Python</a
      >
    </div>

    <div class="w3-col m3">
      <a href="https://github.com/MauricioD13/react-native-pokedex"
        >Pokedex en React Native</a
      >
    </div>

    <a href="https://github.com/MauricioD13?tab=repositories" class="button"
      >LOAD MORE</a
    >
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span
    class="w3-button w3-large w3-black w3-display-topright"
    title="Close Modal Image"
    ><i class="fa fa-remove"></i
  ></span>
  <div
    class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"
  >
    <img id="img01" class="w3-image" />
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE I WORK</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img
        src="/w3images/map.jpg"
        class="w3-image w3-round"
        style="width: 100%"
      />
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i
          class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
        ></i>
        Bogotá, Colombia<br />

        <i
          class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
        ></i>
        Email: mdavidcuello@gmail.com<br />
      </div>
      <p>
        Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:
      </p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin: 0 -16px 8px -16px">
          <div class="w3-half">
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Name"
              required
              name="Name"
            />
          </div>
          <div class="w3-half">
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Email"
              required
              name="Email"
            />
          </div>
        </div>
        <input
          class="w3-input w3-border"
          type="text"
          placeholder="Message"
          required
          name="Message"
        />
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer
  class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off"
>
  <a href="#home" class="w3-button w3-light-grey"
    ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
  >
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>
    Powered by
    <a
      href="https://www.w3schools.com/w3css/default.asp"
      title="W3.CSS"
      target="_blank"
      class="w3-hover-text-green"
      >w3.css</a
    >
  </p>
</footer>

<script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }

  // Change style of navbar on scroll
  window.onscroll = function () {
    myFunction();
  };
  function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (
      document.body.scrollTop > 100 ||
      document.documentElement.scrollTop > 100
    ) {
      navbar.className =
        "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
      navbar.className = navbar.className.replace(
        " w3-card w3-animate-top w3-white",
        ""
      );
    }
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>

{% endblock %}
